dist
node_modules
.idea
.nyc_output
coverage
.env
.DS_Store

.pnp.*
.yarn/*

packages/openapi-code-generator/src/typescript/common/new-builder.ts

# dependencies
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
.next

# misc
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.plandex-v2
.plandexignore
