# Any uncommitted changes will be rejected by CI using ./scripts/assert-clean-working-directory.sh
integration-tests/*/src/generated/** linguist-generated=true
e2e/src/generated/** linguist-generated=true
integration-tests-definitions/** linguist-vendored=true
yarn.lock linguist-generated=true
* text=auto eol=lf
